<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Stefan Brunotte</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" href="~/img/favicon_ligth_yellow.ico" sizes="16x16" type="image/png">
    <!-- My Style -->
    <link rel="stylesheet" href="~/css/landingPageStyle.css" />
</head>
<body>
    <!--Landingpage-->
    <div class="landingPageContainer landingPageGrid">
        <img class="img" src="/img/me1.jpg">
        <h2>Hey there, nice to meet you!</h2>
        <p class="p_text">Me and some of my skills...</p>
        <p class="mobile_text_1"></p>
        <p class="mobile_text"></p>
        <p class="mobile_text"></p>
        <p class="mobile_text"></p>
        <p class="mobile_text"></p>
        <a class="myBorder" href="../MeetMe/Index">Click me!</a>
        <span></span>
    </div>
</body>
</html>