@{
    ViewData["Title"] = "Home";
}

<div class="gridContainer">
    <div class="topSection">
        <h1>Welcome to my portfolio!</h1>
        <p>I have build this website in the ASP .NET Core MVC framework, it is deployed in the Azure cloud where i also have my database located is in the Azure Cloud.</p>
    </div>
</div>
