@model StefanBrunotteWebPage.Models.AcademicViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AcademicViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UniversityName" class="control-label"></label>
                <input asp-for="UniversityName" class="form-control" />
                <span asp-validation-for="UniversityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseCoversDescription" class="control-label"></label>
                <input asp-for="CourseCoversDescription" class="form-control" />
                <span asp-validation-for="CourseCoversDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExperienceGainedDescription" class="control-label"></label>
                <input asp-for="ExperienceGainedDescription" class="form-control" />
                <span asp-validation-for="ExperienceGainedDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseStartDate" class="control-label"></label>
                <input asp-for="CourseStartDate" class="form-control" />
                <span asp-validation-for="CourseStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseEndDate" class="control-label"></label>
                <input asp-for="CourseEndDate" class="form-control" />
                <span asp-validation-for="CourseEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
