
@{
    ViewData["Title"] = "Meet Me";
}

<div class="gridContainer">
    <div class="topSection">
        <h1>Welcome to my portfolio!</h1>
        <p>This site is under construction.</p>
    </div>
</div>