
@{
    ViewData["Title"] = "Meet Me";
}

<div class="MeetMeContainer">
    <img class="meetMeImg" src="/img/meFilter.jpg">
    <h1 class="MeetMeHeader">Meet me - Stefan brunotte</h1>
    <p class="infoText">
        Are you looking for an entry-level C# developer that is multi-talented with lots of experience from different fields?<br /> 
        Well, here is a great opportunity – meet me, Stefan Brunotte. <br />
        I am a junior full stack developer with C# as my main language. When combining my scholar qualifications with my work experience you will find a person with great people skills, and great knowledge both from the banking/trading-,  real estate areas, and service fields. <br />
        I see myself as a senior C# developer in 5 years, within these years I have developed a stable and solid knowledge base that will make me capable of jumping into complex code that will meet customer/employer expectations. <br />
        As an employer you will get a hard-working asset that is focused on delivering the best possible work!
    </p>
    <h5 class="professionalHeader">Professional</h5>
    <p class="professionalText">
        I am a creative, professional, practical, and technically minded Junior Full Stack Developer. I am exited to move into a full-time technical position in Stockholm. I primarily code in C# but I also have some experience in Python and JavaScript, I bring valuable additional experience from the world of financial trading in the futures markets. I enjoy combining real life business challenges with technical solutions, I have high levels of empathy, creativity, and positivity. I am experienced in both remote work as well as working with teams.
    </p>
    <h5 class="privateHeader">After Work</h5>
    <p class="privateText">
        I am aiming to be the best possible dad to my little son Viggo, the sunshine of my life! A part from my family life I love coding and trading. I like to excercise, travel and I am a bit frustrated that my golf handicap is going the wrong way at the moment! Skiing is also a passion of mine. Personal growth is important for me and that is something I have explored throughout my life, "You can if you think you can" is one of my life's motto and it is a quote from a fantastic book by Norman Vincent Pale. In short: Im a life loving person that are super excited to hop on this new coding career that I started last year, I'm really exited for all the opportunities that are in front of me!
    </p>
    <img class="imgViggo" src="~/img/meViggo.jpg" alt="" />
    <div class="qualitiesSubgrid">
        <h6 class="qualitiesHeader">Some of my qualities</h6>
        <div class="q1">positive person</div>
        <div class="q2">great time management</div>
        <div class="q3">people skills</div>
        <div class="q4">high-end user focus</div>
        <div class="q5">great task management</div>
        <div class="q6">persistent</div>
        <div class="q7">Team Player</div>
        <div class="q8">quick learner</div>
    </div>
</div>