@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Contact Section -->
<section id="contact" class="myContainer">
    <div class="section_header section_header_landscape">
        <h1 class="section_header_h1">Contact me</h1>
    </div>
    <div class="contact_subsection">
        <h3 class="p_text_greet">Hey there!</h3>
        <p class="p_text">Nice to see you all the way down here!</p>
        <p class="p_text">
            I hope you enyojed my site and that you had time to visit
            <span>
                <a href="#my_projects" class="social_link" aria-label="My projects">my projects</a>
            </span>don't forget to take a look at my <span>
                <a href="https://github.com/MrBrunotte"
                   class="social_link" target="blank" aria-label="GitHub">GitHub repositories</a>
            </span>. <br>
            if you are looking to
            get
            in touch with
            a creative,
            professional, practical and
            technically minded Junior Full Stack Developer just hover over the envelope below and send me a
            quick
            email!
        </p>
        <p class="p_text">
            My inbox is always open and I'm on the hunt for job opportunities, both remote
            and onsite in the Stockholm Metropolitan Area. Please feel free to contact me by email or on my
            social pages, so that we can
            talk some more.
        </p>
        <p class="p_text strong">Looking forward to hearing from you!</p>
    </div>
    <div class="contactCenterIcons">
        <a href="mailto:mrbrunotte@gmail.com" class="contact_email_img" target="blank"
           aria-label="Email: mrbrunotte@gmail.com"></a>
        <br>
        <a href="https://github.com/MrBrunotte" class="" target="blank" aria-label="GitHub">
            <img class="contact_img_github" src="/img/github150x150.png" alt="GitHub image">
        </a>
        <a href="https://www.linkedin.com/in/stefan-brunotte-44b01521/" class="" target="blank"
           aria-label="LinkedIn">
            <img class="contact_img_linkedin" src="/img/linkedin150x150.png"
                 alt="GitHub image">
        </a>
        <a class="" href="https://twitter.com/mrbrunotte" target="blank" aria-label="Twitter">
            <img class="contact_img_twitter" src="/img/twitter150x150.png" alt="GitHub image">
        </a>
    </div>
</section>