@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Contact Section -->
<section id="contact" class="myContactContainer">
    <div>
        <h1 class="mb-4 contactHeader">Let's Talk</h1>
    </div>
    <div>
        <h2 class="mb-3">Teams, Skype, email... or maybe a Coffee?</h2>
    </div>
    <div class="contactCenterIcons">
        <h5 class="smallText mb-2">contact med below</h5>
        <a href="mailto:mrbrunotte@gmail.com" class="contact_email_img" target="blank"
           aria-label="Email: mrbrunotte@gmail.com"></a>
        <br>
        <a href="https://github.com/MrBrunotte" class="" target="blank" aria-label="GitHub">
            <img class="contact_img_github" src="/img/github150x150.png" alt="GitHub image">
        </a>
        <a href="https://www.linkedin.com/in/stefan-brunotte/" class="" target="blank"
           aria-label="LinkedIn">
            <img class="contact_img_linkedin" src="/img/linkedin150x150.png"
                 alt="GitHub image">
        </a>
        <a class="" href="https://twitter.com/mrbrunotte" target="blank" aria-label="Twitter">
            <img class="contact_img_twitter" src="/img/twitter150x150.png" alt="GitHub image">
        </a>
    </div>
</section>